/* Header */
.header-wrapper-mobile {
	display: flex;
	background-color: white;
	padding: 10px 20px;
    position: relative;

    @media (min-width:1280px) {
        display: none;
    }

    .burger-menu {
        display: flex;
        align-items: center;
        flex: 1;
    }
    
    .header-logo {
        flex: 1;
    }

    .header-nav {
        display: none;
        position: absolute;
        top: 67px;
        left: 0;
        width: 100%;
        background-color: #262A32;
    }

    .burger-close {
        display: none;
    }
    
    .burger-menu--opened  {
        .burger-close {
            display: block;
        }

        .burger-open {
            display: none;
        }
    }
}

.header-nav {
    li {
        padding: 15px 25px;
        color: white;
    }

    a {
        color: white;
        text-transform: uppercase;
    }
}

.header-wrapper-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    padding: 0 50px;

    .header-nav {
        display: flex;
        margin: 0;

        a {
            color: #262A32;
        }

        li {
            padding: 15px 20px;

            &:hover {
                & > .header-nav-subcategory {
                    display: flex;
                }
            }
        }
    }

    .header-logo-wrapper {
        display: flex;
        align-items: center;
    }

    .header-nav-subcategory {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #262A32;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        z-index: 2;

        p {
            text-transform: uppercase;
            padding: 15px 25px 0;
        }

        & > ul {
            align-self: flex-end;
        }
    }
}

.slick-slider {
    width: 100%;
}

.carousel-wrapper {
    position: relative;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    outline: 0;
    padding: 60px; 
    background: url("../images/homepage/carousel-bg-image.jpg");
    background-size: cover;
}

.carousel-content-wrapper {
    width: 70%;
    color: white;

    p {
        margin-top: 70px;
    }

    button {
        color: white;
        text-transform: uppercase;
        background: transparent;
        padding: 5px 15px;
        border: 1px solid white;
        border-radius: 15px;
    }
}

.slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 15px;
        height: 15px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        position: relative;
        margin-right: 5px;

        &::before {
            font-size: 6px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            content: '';
            border: 1px solid white;
            border-radius: 50%;
            text-align: center;
        }
    }

    .slick-active button {
        &::before {
            border: 3px solid white;
        }
    }
}

.popular-items {
    width: 80%;
    margin: 0 auto;

    h3{
        text-align: center;
        color: white;
    }

    button {
        color: white;
        text-transform: uppercase;
        background: transparent;
        padding: 5px 15px;
        border: 1px solid white;
        border-radius: 15px; 

    }
}

.popular-items-wrapper {
    display: flex;
    flex-wrap: wrap;

    .card {
        width: calc(25% - 15px);
        margin: 0 20px 20px 0;
        border-radius: 50%;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .card-details {
        text-align: center;
    }

    .card:hover{
    float: left;
    color: #1CC167;
    opacity: 0.5;
	text-align: center;
    transition: 1s;
    width: calc(25% - 15px);
    margin: 0 20px 20px 0;
    border-radius: 50%;
    }
}
.banner-theme {
    float: left;
    text-align: center;
    color: white;
    height: 600px;
    background: url("../images/homepage/banner-theme-img.jpg");
}
.featured-products {
    width: 80%;
    margin: 0%;

    h1{
        text-align: center;
        color: white;
    }
    h3{
        text-align: center;
        color: white;
    }
}
.featured-products-blocks {
    display: flex;
    flex-wrap: wrap;

    .card {
        width: calc(25% - 15px);
        margin: 0 20px 20px 0;
        border-radius: 50%;
    }

    .card-details {
        text-align: center;
    }
    .card-status {
        color: #84BC22;
    }
}